@import 'https://fonts.googleapis.com/css2?family=Sora:wght@100%3b200%3b300%3b400%3b500%3b600%3b700%3b800&display=swap'

$fontSans: 'Sora', sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #666
$beta: #222
$gama: #aaa
$delta: #222
$epsilon: #ededed

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
